@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin-ext,vietnamese');

input, textarea {
    font-family: "Merriweather", sans-serif, Arial;
}

body {
    font-family: "Merriweather", sans-serif, Arial;
    background-color: #eeeeee;
    display: flex;
    flex-flow: column;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.page-content {
    width: 1100px;
    margin: auto;
    flex: 1;
}

.page-header {
    background: black;
    color: white;
    width: 100%;
}

.wrapper {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.page-header-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-header-wrapper a {
    color: white;
    margin-left: 10px;
}

.page-logo {
    width: 60px;
    height: 60px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 50px;
    display: flex;
    flex: 1;
}

.page-logo a {
    flex: 1;
}

.page-search {
    display: flex;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    flex: 1;
    margin: 0;
    background: black;
}


.page-search > input {
    font-family: Merriweather, sans-serif;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 15px;
    flex: 1;
    background: black;
    color: white;
    text-align: right;
}

.page-search > input::placeholder {
    color: #ccc;
}

.page-search > button {
    opacity: 0;
}

.phone {
    font-family: Merriweather, sans-serif;
    width: 40%;
}

.page-cart {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.cart-count {
    position: absolute;
    right: -7px;
    background: #ff116d;
    color: white;
    border-radius: 50%;
    top: 7px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
}

.page-user {
    width: 100%;
    text-align: right;
    padding: 5px 0 10px;
    color: white;
}

.page-user a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('../images/coffee_background.jpg') no-repeat center;
    background-size: cover;
}

.slide-holder {
    margin: 0 auto;
    text-transform: uppercase;
}

.slide-container {
    /*slide-container là khối bao mà slide-stage có thể "trượt" bên trong */
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-stage {
    position: absolute;
}

.slide-image {
    /*Độ rộng của .slide-image có thể được thay đổi theo nhu cầu, ảnh hưởng đến độ rộng chung của slideshow*/
    float: left;
    width: 280px;
    height: 150px;
    text-align: center;
}

.slide-image img {
    width: 95%;
    margin: 0;
}

.slide-pager {
    position: relative;
}

.slide-control-prev {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: orange;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    top: 100px;
    left: -30px;
}

.slide-control-next {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: orange;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    right: -30px;
    top: 100px;
}

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
}

.login-form h2, .signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.login-form form input, .signup-form form input {
    background: white;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    background: red;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}

.card {
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.card.nowrap {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card.half {
    flex: 1 1 600px;
    padding-right: 10px;
}

.card.transparent {
    background-color: transparent;
    box-shadow: none;
}

.product-details {
    padding: 1.25rem 2.1875rem 0 1.25rem;
    flex: 1 1 auto;
    max-width: 750px;
}

.product-detail-image {
    width: 100%;
    flex: 1;
    margin-bottom: 10px;
    padding: 15px;
}

.product-detail-image img {
    width: 100%;
}

.product-detail-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
    text-transform: uppercase;
}

.product-detail-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
    color: #be9c79;
    font-size: 24px;
    font-weight: 700;
}

.product-detail-description {
    color: #7f7f7f;
    font-size: 14px;
    text-align: justify;
}

.product-detail-order {
    margin-top: 25px;
}

.product-detail-quantity-input {
    display: flex;
    align-items: center;
    background: #FFFFFF;
}

.button {
    font-family: Merriweather, sans-serif;
    background: #be9c79;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px 30px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.button.invert {
    background-color: rgba(208, 1, 27, .08);
    color: #be9c79;
}

.button-outline {
    width: 32px;
    height: 32px;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1;
    letter-spacing: 0;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
}

.input-outline {
    width: 100px;
    height: 32px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    outline: none;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.product-detail-quantity {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.product-detail-quantity-label {
    color: #757575;
    width: 110px;
}

.product {
    display: flex;
    width: 25%;
    overflow: hidden;
    transition: box-shadow 0.5s;
    box-sizing: border-box;
    padding: 10px;
}

.product > a {
    background-color: white;
    flex: 1;
    text-decoration: none;
    color: #000c;
    position: relative;
    padding: 10px;
    display: flex;
    flex-flow: column;
    height: 360px;
}

.product > a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

.product-name,
.product-price {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 22px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.product-price {
    color: #be9c79;
    height: auto;
}

.product-image {
    width: 100%;
    margin-bottom: 10px;
    height: 250px;
    object-fit: contain;
}

.category-name {
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #333;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.cart-empty {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.cart-empty-image {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 179px;
    background-image: url('../images/empty.png');
}

.cart-empty-text {
    font-weight: 700;
    font-size: 20px;
    margin: 26px 0;
}

.cart-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.cart-product {
    display: flex;
    flex: 1;
    align-items: center;
}

.cart-price,
.cart-quantity,
.cart-cost,
.cart-action {
    width: 12.5%;
    text-align: center;
}

.cart-list {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: column;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
}

.cart-list > .cart-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.cart-list .cart-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    margin-right: 20px;
}

.cart-footer {
    padding: 20px;
    display: flex;
    width: 100%;
}

.cart-footer > .cart-cost {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.checkout-footer {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: column;
}

.checkout-cost {
    flex: 1;
    text-align: left;
    margin-right: 20px;
    width: 100%;
    flex-flow: column;
}

.checkout-cost-amount {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px;
    color: #be9c79;
}

.danhmuc {
    padding: 20px;
}

.danhmuc > .hinhanh {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 198px;
    height: 198px;
}

.danhmuc > .tendanhmuc {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: rgba(0, 0, 0, .8);
}

.page-footer {
    text-align: center;
    background: black;
    padding: 10px;
    margin-top: 50px;
    color: white;
}

.page-footer-column {
    width: 33.3333%;
    text-align: left;
    font-size: 14px;
}

.page-footer-column h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.page-footer-column a {
    color: white !important;
}

.page-nav {
    align-items: center;
    display: flex;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    min-height: 80px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0;
    text-transform: uppercase;
    flex: 1;
}

.menu li {
    position: relative;
    padding: 15px 30px;
    white-space: nowrap;
}

.menu li:hover .menu-dropdown {
    display: flex;
}

.menu .menu-dropdown {
    display: none;
    flex-flow: column;
    width: 300px;
    position: absolute;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    top: 45px;
    list-style: none;
    padding: 0;
    z-index: 200;
    border-top: 3px solid #be9c79;
}

.menu .menu-dropdown li {
    padding: 10px 10px 10px 20px;
}

.menu .menu-dropdown li:hover {
    background: #f8f8f8;
}

.menu a {
    color: black;
}

.menu a:hover {
    text-decoration: none;
    color: #be9c79;
}

.chitietkhachhang {
    display: flex;
    flex-flow: column;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
    padding-bottom: 10px;
}

.chitietkhachhang .product-detail-quantity .content {
    flex: 1;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.authen-modal {
    background: #fff;
    width: 500px;
    margin: 50px auto 0;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    position: relative;
}

.authen-header {
    padding: 30px;
    display: flex;
    align-items: center;
}

.authen-header-tab.active {
    outline: none;
    text-align: left;
    background: #fff !important;
    cursor: default;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    flex: 1;
    font-size: 20px;
}

.authen-header-tab {
    background: none;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #be9c79;
    cursor: pointer;
    font-weight: 500;
}

.authen-header-tab:hover {
    text-decoration: none;
}

.authen-body {
    display: flex;
    flex-flow: column;
    padding: 0 30px 30px;
}

.input-with-status {
    margin-bottom: 15px;
    display: flex;
}

.input-with-status-input {
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: 1px solid #00000024;
}

.authen-error {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #be9c79;
}

.forgot-password {
    margin: 20px 0 15px;
    text-align: right;
}

.forgot-password a {
    color: #be9c79;
    display: block;
    float: right;
    margin-left: 10px;
}

.authen-footer {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    background: linear-gradient(hsla(0, 0%, 100%, .9), #fff);
    align-items: center;
    padding: 22px 30px;
    box-sizing: border-box;
}

.btn-cancel {
    padding: 10px 0;
    box-sizing: border-box;
    width: 140px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #555;
    margin-right: 6px;
    line-height: 1;
    background: none;
    border: none;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    text-align: center;
}

.btn-submit {
    color: #fff;
    background: #be9c79;
    display: inline-flex;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}

.btn-submit:focus, .btn-submit:active, .btn-submit:visited {
    outline: none;
    box-shadow: none;
    color: white;
}

.btn-submit:hover {
    background: #f05d40;
    color: white;
}

.user-page {
    display: flex;
    padding: 20px 0;
}

.user-page-sidebar {
    width: 180px;
    margin-right: 30px;
}

.user-page-sidebar .user-page-brief {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.user-page-sidebar .user-page-brief .user-page-brief-avatar img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.user-page-sidebar .user-page-brief .user-page-brief-right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 15px;
}

.user-page-sidebar .user-page-brief .user-page-brief-right .user-page-brief-username {
    font-weight: bold;
}

.user-page-sidebar .user-page-brief .user-page-brief-right .user-page-brief-phone {
    color: #888;
}

.user-page-sidebar .user-page-sidebar-menu {
    margin-top: 27px;
    display: flex;
    flex-flow: column;
}

.user-page-sidebar .user-page-sidebar-menu .user-page-sidebar-menu-entry {
    text-decoration: none !important;
    color: #333;
    margin-bottom: 18px;
}

.user-page-sidebar .user-page-sidebar-menu .user-page-sidebar-menu-entry:hover {
    color: #be9c79;
}

.user-page-content {
    flex: 1;
    padding: 0 30px 20px;
    background: white;
}

.user-page-content .user-page-header {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
    flex-flow: column;
}

.user-page-content .user-page-header .user-page-header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}

.user-page-content .user-page-header .user-page-header-subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #555;
    margin-top: 3px;
}

.user-page-content .user-page-profile {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.user-page-content .user-page-profile-left {
    flex: 1;
    padding-right: 50px;
}

.user-page-content .user-page-profile-right {
    display: flex;
    flex-flow: column;
    width: 280px;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.user-page-content .user-page-profile-right .avatar {
    width: 170px;
    margin: auto;
}

.user-page-content .user-page-profile-right .avatar .avatar-image {
    display: flex;
    height: 170px;
    align-items: center;
}

.user-page-content .user-page-profile-right .avatar .avatar-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.input-with-label {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.input-with-label .input-with-label-label {
    width: 30%;
    text-align: right;
    color: rgba(85, 85, 85, .8);
    overflow: hidden;
}

.input-with-label .input-with-label-content {
    width: 80%;
    box-sizing: border-box;
    padding-left: 20px;
}

.user-page-submit {
    margin-bottom: 60px;
    padding-left: calc(30%);
}

.user-page-submit .btn-submit {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.user-page-profile-password {
    display: flex;
    flex-flow: column;
    width: 620px;
    margin: auto;
}

.admin-menu {
    background-color: #fff;
    height: 70px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.admin-menu a {
    background-color: #76c9bd;
    color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin: 5px;
    width: 25%;
    text-align: center;
    padding: 15px;
}

.admin-menu.active {
    background-color: #76c9bd;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-header-title {
    color: #464457;
    font-weight: bold;
    font-size: 16px;
}

.admin-table {
    width: 100%;
}

.admin-table-header {
    padding: 10px 25px;
    color: #6c7293;
}

.admin-table-row {
    border-bottom: 1px solid #f0f3ff;
}

.admin-table-data {
    padding: 10px 25px;
}

.admin-table-data form {
    margin: 0;
}

.product-list-image {
    width: 50px;
    height: 50px;
}

.edit-page {
    flex: 1;
    padding: 0 30px 20px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
}

.edit-header {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
    flex-flow: column;
}

.edit-header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}

.edit-header-subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #555;
    margin-top: 3px;
}

.edit-body {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.edit-body-left {
    flex: 1;
    padding-right: 50px;
}

.edit-body-right {
    display: flex;
    flex-flow: column;
    width: 280px;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.edit-submit {
    margin-bottom: 60px;
    padding-left: calc(20% + 20px);
}

.edit-submit .btn-submit {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.edit-submit .btn-cancel {
    margin-left: 20px;
    margin-right: 20px;
}

.edit-thumbnail {
    width: 170px;
    margin: auto;
}

.edit-thumbnail-image {
    display: flex;
    height: 170px;
    align-items: center;
    margin-bottom: 20px;
}

.edit-thumbnail-image img {
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.edit-body-cart {
    border-left: 1px solid rgba(0, 0, 0, .09);
    width: 800px;
}

.cart-detail-customer {
    line-height: 22px;
    margin-bottom: 7px;
}

.cart-detail-description {
    color: #0000008a;
    font-size: 12px;
    line-height: 21px;
}

.cart-detail-row {
    border-bottom: 1px dotted rgba(0, 0, 0, .09);
    display: flex;
    padding: 10px 20px;
}

.cart-detail-image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-detail-text {
    padding-left: 12px;
    flex: 1;
}

.cart-detail-price {
    color: #be9c79;
}

.cart-detail-summary {
    display: flex;
    text-align: right;
    padding: 0;
    align-items: center;
}

.cart-detail-summary-label {
    color: #0000008a;
    font-size: 12px;
    flex: 1;
    padding: 10px;
}

.cart-detail-summary-value {
    width: 200px;
    border-left: 1px dotted #00000017;
}

.cart-detail-summary-value span {
    color: #be9c79;
    font-size: 32px;
}

.edit-body-cart .edit-submit {
    padding: 0;
    float: right;
    margin-top: 20px;
}

.cart-history {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.user-page-content .edit-body > .edit-body-cart {
    flex: 1;
    border: none;
}

.category-menu {
    display: flex;
    flex-flow: column;
    width: 25%;
    margin-top: 10px;
}

.category-menu-item {
    padding: 10px;
    color: black;
    background: white;
}

.category-menu-item.active {
    color: #be9c79;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.product-list > .product {
    width: 33.333333%;
}

.brand {
    display: flex;
    align-items: center;
    background-image: url('../images/robusta.png');
    width: 453px;
    height: 453px;
    animation: changeLogo 10s infinite;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    margin: 62px auto auto;
}

@keyframes changeLogo {
    0%, 30%, 100% {
        background-image: url("../images/robusta.png");
    }
    33%, 63% {
        background-image: url("../images/arabica.png");
    }
    66%, 96% {
        background-image: url("../images/coffee_shop.png");
    }
}

.comment {
    background: #f2f3f5;
    width: 100%;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.comment-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.comment-time {
    font-size: 14px;
    color: #aaa;
    width: 100%;
    font-family: Arial, sans-serif;
}

.comment-rate {
    margin-left: 20px;
    font-size: 30px;
    line-height: 40px;
    color: #EA8025;
}

.comment-text {
    width: 100%;
}

.comment-reply {
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.comment-reply form {
    display: flex;
    flex: 1;
    margin: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.comment-reply textarea {
    padding: 10px;
    resize: none;
    border-radius: 3px;
    margin: 10px;
    width: 100%;
}

.comment-box {
    width: 100%;
    display: flex;
}

.comment-box form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.comment-box textarea {
    padding: 10px;
    resize: none;
    border-radius: 3px;
    margin: 10px;
    width: 100%;
}

.comment-box .button,
.comment .button {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.rating {
    flex: 1;
    position: relative;
}

.rating > input {
    opacity: 0;
    float: right;
    position: absolute;
    right: 50px;
    top: 30px;
}

.rating > label:before {
    margin: 5px;
    display: inline-block;
    content: "★";
    font-size: 30px;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #EA8025;
}

section {
    padding: 80px 0 80px;
}

.store, .squad {
    background: #F5F5F5;
}

section .page-content {
    width: 1100px;
}

.store-header {
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    text-transform: uppercase;
    color: #be9c79;
    display: inline-block;
}

.store-header:after {
    content: '';
    height: 4px;
    background: #191919;
    width: 50%;
    display: block;
}

.store-body {
    display: flex;
    color: white;
    background: #be9c79;
}

.store-body-half {
    flex: 0 0 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.store-title {
    padding: 0 30px;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 24px;
    font-weight: 700;
}

.store-content {
    padding: 0 30px;
}

.store-image {
    width: 100%;
}

.store-footer {
    margin: 20px -10px;
    display: flex;
    justify-content: space-between;
}

.store-footer-item {
    margin: 0 10px;
    position: relative;
}

.store-footer-item-image {
    width: 255px;
    height: 165px;
    display: flex;
}

.store-footer-item-image img {
    width: 100%;
    object-fit: cover;
}

.store-footer-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to top, #000, transparent);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-header {
    color: #be9c79;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}

.about-header:after {
    content: '';
    height: 4px;
    background: #191919;
    width: 50%;
    display: block;
}

.about-body {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.about-row {
    display: flex;
    margin: 0 -10px;
    align-items: center;
}

.about-image {
    flex: 1;
    padding: 10px;
}

.about-image img {
    width: 100%;
    object-fit: cover;
}

.about-paragraph {
    flex: 0 0 33.333%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
}

.about-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.about-content {
    text-align: justify;
    color: #666;
}

.about-column {
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
}

.squad .about-row {
    align-items: flex-start;
}

.about-banner {
    background: url("../images/master.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    display: flex;
    color: white;
    font-size: 42px;
    flex-wrap: wrap;
}

.about-banner p {
    text-align: center;
    width: 100%;
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #000, transparent);
}
